*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    background: rgb(252, 250, 247);
}
header{
    background-color: rgb(68, 68, 236);
    height: 60px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: space-between;
    box-shadow: 0px 3px 10px rgba(80,119,247,0,3) ;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
nav ul li{
    cursor: pointer;
}
nav ul li:hover{
    color: rgb(172, 12, 38)
}
.InputSearch{
display: flex;
    align-items: center;
    height: 40px;
    background-color: antiquewhite;
    width: 350px;
    border-radius: 20px;
    overflow: hidden;
    border: 1.5px solid red;
}
.InputSearch input{
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    border: none;
    outline: none;
    font-size: 14px;
}
.InputSearch span{
 width: 70px;
 background-color:rgb(237, 237, 247) ;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 16px;
}
.menubtn{
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.menubtn:hover{
    background-color: #4361ee;
    color: #ffffff;
}
.desktop{
    display: none;
}
@media all and (min-width:700px)
{
    header{
        padding: 5px 20px;
    }
    .desktop{
        display: flex;
    }
    .menubtn{
        display:none;
        pointer-events: none; /* Disable click events */
        opacity: 0.5;         /* Make the button appear disabled */
        cursor: default;   
    }
}
/***mobile menu***/
.mobile{
    position: absolute;
    top:75px;
    width: 100%;
    max-width: 700px;
    background-color: #f5f6f9;
    height:calc(100%-100px)
}
.mobile nav,
.mobile nav ul{
    flex-direction: column;
}
.mobile .InputSearch{
 height: 30px;
 width: 90%;  
 align-items: center;
}
.hidden{
    display: none;
}
@media all and(min-width:700px){
    .mobile{
        display: none;
    }
}
/*a{
    font-size: 10rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: red;
    
}
button{
    
    font-family: sans-serif;
    font-weight: bold;
}
search-bar
{
    font-family: sans-serif;
    font-weight: bold;
}
header{
    background-color: rgb(0, 0, 255);
    width: 100%;
}
.navbar-nav{
    justify-content: space-between;
}*/
main{
   padding: 10px;
   margin-top: 50px; 
   gap: 20px;
   display: flex;
   flex-direction: column;
   margin: auto;
}
.cards-container{
    justify-content:space-between ;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
    
}
.card{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-height: 600px;
    row-gap: 16px;
    position: relative;
    margin-bottom: 10px;
    z-index: -1;
    box-shadow: 7px 7px 25px 1px ;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
    padding-bottom: 20px;
}
#news-img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    
}
.card h3,
.card div{
    padding: 5px 10px;
}
@media all and (min-width:700px){
    main{
        padding: 20px;
        flex-direction: row ;
        flex-wrap: wrap;
    }
    #cardscontainer{

        width:90%;
        margin: 1 auto;
        display: grid;
       grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
        
        gap: 16px;;
        min-height: 500px;   
    }
    
}
.card:hover{
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translate(-2px);
}
.card-content{
    padding: 25px;

}
.news-source{
    margin-block: 12px;
}


@media only screen and(min-width:375px) and(max-width:600px){
    #cardscontainer{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 2 em;
    }
   #news-img{
    width: 50%;
    height: 30vh;
    object-fit: cover;
   }
   #news-title{
    font-size: 9px;
    text-align: center;
   }
    
}
